body{
    background-image: linear-gradient(rgba(4, 0, 255, 0.2),rgba(0,255,0,0.2));
}

article{
    width: 80%;
    background-color: lightgoldenrodyellow;
    color:rgb(77, 72, 102);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 5px 10px gray;
}

.article_title{
    text-align: center;
}

#introduction{
    float: right;
}

#next_steps{
    float: left;
}

#hobbies{
    float: right;
}

#music{
    margin-top: 10px;
    float: right;
    width: 80%;
}

.album{
    margin: 10px;
    transition: transform .2s;
    width: 200px;
}

.album:hover{
    /* I got this code from w3schools.com */
    transform: scale(1.2);
}

.name-image{
    background-image: url("../images/esther_cropped.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px;
    margin-bottom: 0px;
    border-radius: 50px;
}

.name-title{
    border-radius: 10px;
    background-color: plum;
    color:rgb(131, 3, 148);
    opacity:70%;
    text-align:center;
    position:absolute; 
    top:35%;
    left:50%; 
    transform:translate(-50%,-50%);
    padding-left: 20px;
    padding-right: 20px;
}

nav li{
    display: inline;
    text-align: center;
    margin: 10px;
}

nav ul{
    margin: 0;
    list-style-type: none;
    width: 100%;
}

nav{
    background-color: rgb(206, 180, 207);
    height: 30px;
    width: 100%;
    display: block;
    color: rgb(99, 96, 247);
    padding-top: 10px;
    margin: 10px;
    margin-bottom: -5px;
    border-radius: 5px;
}

nav a{
    color:#e72f85;
    text-decoration: none;
}

nav a:hover{
    color:rgb(250, 250, 103);
}

#mad_lib{
    width: 100%;
    float: left;
    background-color: rgb(252, 252, 99);
    text-align: center;
    margin-top: 50px;
}

.article_image{
    float: right;
}

#meme{
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    margin-top: 30px;
}